[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/b08x/Desktop/Notepad]
row=3
col=0

[/home/b08x/Desktop/dirarchive.rb]
row=6
col=0

[/home/b08x/Desktop/Notebook]
row=4
col=0

[/home/b08x/Desktop/Archive]
row=2
col=0

[/home/b08x/Desktop/b08x.github.io]
row=5
col=0

[/home/b08x]
row=1
col=0

