[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/avl64/Desktop/Help.desktop]
row=4
col=0

[/home/avl64/Desktop/FAQ.desktop]
row=5
col=0

[2022-11-07-14-25-06-00]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/avl64]
row=3
col=0

